{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load avatar_tags %}

{% block title %}{{ block.super }}&nbsp;&bull;&nbsp;Account{% endblock %}

{% block nav-account-class %}active{% endblock %}

{% block content %}
<main>
  <div class="corset md">
    <div class="marquee">
      <img src="{% avatar_url user 128 %}">
      <div class="wo-y-margins expand fgrow px1">
        <div>
          {% if user.name %}
            <h4>{{ user.name }}</h4>
          {% else %}
            <h4 class="muted">{% trans "Unknown name" %}</h4>
          {% endif %}
          <h6>{{ user.email }}</h6>
        </div>
        <p>
          <a class="underline small" href="{% url 'edit-user' %}">Edit profile</a>
          &nbsp;&bull;&nbsp;
          <a class="underline small" href="">Change password</a>
          &nbsp;&bull;&nbsp;
          <a class="underline small" href="">Delete account</a>
        </p>
      </div>
      <div>
        <a class="btn primary" href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
  </div>
  <div class="corset md">
    <div class="row">
      <div class="column">
        <h3>{% trans "Edit Profile" %}</h3>
      </div>
    </div>
  </div>
  <div class="corset md">
    <div class="grid-form xmargin bordered fgrow">
      <form id="emailform" method="POST" onSubmit="return change_email_form.post()">
        {% csrf_token %}
        <label class="col1" for="email">Email address</label>
        <div class="col2">{{ email_form.email }}</div>
        {% if email_form_msg %}
        <div id="emailhelp" class="col2 helper-text text-info">
          {{ email_form_msg }}
        </div>
        {% else %}
        <div id="emailhelp" class="col2 helper-text hide"></div>
        {% endif %}
        <div class="col2">
          <div class="inline-left">
            <button class="small primary" type="submit" name="submit">{% trans 'change' %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock content %}

{% block extra_js %}
{{ email_form.media }}
{% endblock %}